body{
    text-align: center;
    background: #e0e0e0;
    font-family:monospace;
    border-radius: 7px;
    box-shadow: 8px 8px 17px #a6a6a6,
    -8px -8px 17px #ffffff;
    padding:10px;
    margin:60px;
}

h1{
    color: gray;
    font-weight: bold;
    font-size: 24px;
}

#clockdiv{
    color: gray;
    font-weight:bold;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 7px;
}

#clockdiv div > span{
    padding: 15px;
}

.smalltext{
    padding-top: 5px;
}